project:
  type: website
  output-dir: .

website:
  title: "dat303-blog"
  description: "A blog built with Quarto"
  site-url: https://julioa.github.io
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/julioa.github.io
      - icon: twitter
        href: https://twitter.com

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css